body {
	text-align: center;
	font-size: 1em;
	letter-spacing: 1px;
	font-family: 'Times New Roman', 'Times', serif;
	padding: 50px 30px 100px;
}

#tooltip {
	background: white;
	border: 2px solid black;
	display: block;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.2em;
	letter-spacing: 0;
	line-height: 1.3;
	opacity: 0.95;
	padding: 20px 24px;
	position: absolute;
	text-align: left;
	width: 500px;
	z-index: 20;
}
	#tooltip p {
		padding: 0;
		margin: 0;
	}

	#tooltip p + p {
		padding-top: 1em;
	}

#date-input {
}

input {
	font-family: 'Courier New', 'Courier', monospaced;
	font-size: 1.1em;
	text-align: center;
	height: 36px;
	width: 100px;
	border: 1px solid #bbb;
	/*box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);*/
	background: white;
}

#mm, #dd {
	width: 60px;
}

section {
	cursor: default;
	padding-top: 20px;
}

.chinese {
	font-family: 'PMingLiU', 'MingLiU', 'LiSong Pro Light', 'Apple LiSung Light', serif;
	font-size: 20em;
	margin-bottom: -30px;
	/*font-weight: 900;*/
}

.pinyin {
	font-family: 'Times New Roman', 'Times', serif;
	font-size: 1.5em;
	border: 1px solid #d33;
	color: #d33;
	padding: 5px;
	display: inline-block;
	margin-bottom: 1em;
}

.english {
	font-size: 3em;
	font-family: 'PMingLiU', 'LiSong Pro Light', 'Apple LiSung Light', 'SimSun', serif;
	margin-bottom: 1em;
}
