body {
	text-align: center;
	font-size: 1em;
	letter-spacing: 1px;
	font-family: 'Times New Roman', 'Times', serif;
	padding: 50px 30px 100px;
}

#tooltip {
	background: rgba(255, 255, 255, 1);
	border: 1px solid #c22;
	color: #c22;
	display: block;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.5em;
	letter-spacing: 0.5px;
	line-height: 1.2;
	opacity: 1;
	padding: 20px 15px 20px 20px;
	position: fixed;
	text-align: left;
	z-index: 20;
}
	#tooltip p {
		padding: 0;
		margin: 0;
	}

	#tooltip p + p {
		padding-top: 1em;
	}

	.tooltip-english {
		font-family: arial, sans-serif;
		font-size: 0.85em;
	}

#overlay {
	background: rgba(255, 255, 255, 1);
	border: 1px solid black;
	color: black;
	display: block;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.2em;
	letter-spacing: 0.5px;
	line-height: 1.2;
	opacity: 1;
	padding: 20px 15px 20px 20px;
	position: absolute;
	text-align: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 700px;
	z-index: 20;
}
	#overlay p {
		padding: 0;
		margin: 0;
	}

	#overlay p + p {
		padding-top: 1em;
	}

#date-input {
}

input {
	font-family: 'Courier New', 'Courier', monospaced;
	font-size: 1.1em;
	text-align: center;
	height: 36px;
	width: 100px;
	border: 1px solid #bbb;
	/*box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);*/
	background: white;
}

#mm, #dd {
	width: 60px;
}

section {
	position: relative;
	cursor: pointer;
	padding-top: 20px;
}

.chinese {
	font-family: 'PMingLiU', 'MingLiU', 'LiSong Pro Light', 'Apple LiSung Light', serif;
	font-size: 20em;
	margin-bottom: -30px;
	/*font-weight: 900;*/
	margin-top: 30px;
	border-bottom: 1px solid #ddd;
}

.pinyin {

	font-family: 'Times New Roman', 'Times', serif;
	font-size: 1.5em;
	border: 1px solid #c22;
	color: #c22;
	padding: 5px 12px 6px;
	display: inline-block;
	margin-bottom: 1em;
	display: none;
}

.english {
	display: none;
	font-size: 3em;
	font-family: 'PMingLiU', 'LiSong Pro Light', 'Apple LiSung Light', 'SimSun', serif;
	margin-bottom: 1em;
}
