body {
	text-align: center;
	font-family: Arial, Helvetica, 'Source Han Sans TC', sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
}

.chinese {
	font-size: 20em;
	margin-bottom: -16px;
	font-weight: 900;
}

.pinyin {
	font-size: 1.2em;
	border: 1px solid #d33;
	color: #d33;
	padding: 5px;
	display: inline-block;
	margin-bottom: 1em;
}

.english {
	font-size: 3em;
	font-family: 'Times New Roman', Times, serif;
	margin-bottom: 1em;
}
